.App {
  background: #056676;
  border: 1px solid black;
  border-radius: 5px;
  color: #e8ded2;
  font-family: "Mulish", sans-serif;
  margin: 30px auto 0px;
  max-width: 600px;
  padding: 5px 20px;
}
